.image-in-da-back {
  position: relative;
  padding: 8px;
  height: 210px;
  margin: 10px auto;
  opacity:0.6;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}
.image-in-da-back:hover {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.image-in-da-back > div {
  position: absolute;
  bottom: 16px;
}
content {
  height: 2000px;
}
#carbonchromeopathy {
  background: url(../assets/samples/carbonchromeopathy.png);
}
#solace {
  background: url(../assets/samples/solace.png);
}
#liberalnuance {
  background: url(../assets/samples/liberalnuance.png);
}
#whatliesbeneath {
  background: url(../assets/samples/whatliesbeneath.png);
}
#theyhateherwhenshesfloating {
  background: url(../assets/samples/theyhateherwhenshesfloating.png);
}
#plummet {
  background: url(../assets/samples/plummet.png);
}
#chilld {
  background: url(../assets/samples/chilld.png);
}
#areyouinthewoods {
  background: url(../assets/samples/areyouinthewoods.png);
}
