.image-in-da-back {
  position: relative;
  padding: 8px;
  height: 210px;
  opacity:0.6;
  transition: all 0.2s ease-in-out;
}
.image-in-da-back:hover {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.image-in-da-back > div {
  position: absolute;
  bottom: 16px;
}
#carbonchromeopathy:hover {
  background: url(../assets/samples/carbonchromeopathy.png) no-repeat center left;
}
