body {
    background-color: #1f1726;
    color: #F8E7F9;
}
h1 {
    margin: 0;
    padding: 0;
    line-height: 6px;
    font-size: 1.5rem;
    color: #ec64ec;
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: 1px 1px 4px #098cff;
}
a {
    display: block;
    height: 24px;
    color: #F8E7F9;
    text-decoration: underline;
    font-size: .75rem;
    transition: all 0.3s ease-in-out;
}
a:hover {
    color: #E2FB89;
    text-shadow: 0px 0px #ff0054;
    font-size: .8rem;
    transition: all 0.3s ease-in-out;
}
li {
    list-style: square;
}
body > div > pre {
    display: block;
    position: relative;
    margin-top: 40px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1f1726;
    z-index: 999;
    display: block;
    height: 127px;
    box-shadow: 1px 5px 12px #190c24;
}
header > pre {
    margin-bottom: 40px;
    display: block;
    position: fixed;
    top: 45px;
    left: calc((100% - 290px) / 2);
    width: 290px;
    float: left;
}
header > pre > h2 {
    color: #b4e112;
    padding-top: 0;
    margin-top: 0;
    font-size: 1.1rem;
    position: absolute;
    right: -2px;
    top: 7px;
}
#header_home {
    position: fixed;
    top: 0;
    left: 0;
    width: 290px;
    margin-left: calc((100% - 290px) / 2);
    height: 127px;
    z-index: 99;
}
.underline-me {
    text-decoration: underline;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
    margin-bottom: 0;
}
.left {
    text-align: left;
}
content {
    display: block;
    position: relative;
    width: 290px;
    margin: 140px auto 0 auto;
}
content > pre {
    display: block;
    float: left;
    width: 100%;
}
.hover-me-tender {
    margin: 0 auto;
}
.hover-me-tender > h2 {
    text-align: right;
    margin-bottom: 0;
    margin-top: 0;
    color: #6c2f6c;
    text-shadow: 1px 10px 5px #6c2f6c;
    transition: 0.1s all ease-in-out;
}
.hover-me-tender > div {
    text-align: left;
    color: #787878;
    font-size: 0.8rem;
    transition: 0.1s all ease-in-out;
}
.hover-me-tender:hover > h2 {
    color: #c364ec;
    font-size: 1.4rem;
    transition: 0.2s all ease-in-out;
}
.hover-me-tender:hover > div {
    color: #c9c9c9;
    font-size: 1rem;
    transition: 0.2s all ease-in-out;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #1f1726;
    box-shadow: 1px -5px 12px #190c24;
    border-top: 1px solid #b4e112;
}
footer > div {
    max-width: 290px;
    position: relative;
    margin-left: calc((100% - 290px)/ 2);
}
footer > div > div {
    width: 33.33%;
    display: block;
    float: left;
    text-align: center;
}
