html {
    scroll-behavior: smooth;
}
body {
    background-color: #1f1726;
    color: #F8E7F9;
}
body > div > pre {
    display: block;
    position: relative;
    margin-top: 40px;
}
h1 {
    margin: 0;
    padding: 0;
    line-height: 6px;
    font-size: 1.5rem;
    color: #ec64ec;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
}
h1:hover {
    text-shadow: 1px 1px 4px #098cff;
    transition: all 0.3s ease-in-out;
}
a {
    display: block;
    height: 24px;
    color: #F8E7F9;
    text-decoration: underline;
    font-family: 'PixelBulky';
    font-weight: normal;
    font-size: .75rem;
    transition: all 0.3s ease-in-out;
}
a:hover {
    color: #E2FB89;
    text-shadow: 0px 0px #ff0054;
    font-size: .8rem;
    transition: all 0.3s ease-in-out;
}
li {
    list-style: square;
}
.home content > pre > h2 {
    height: 60px;
    line-height: 60px;
    padding-right: 12px;
    color: #c9295f;
    font-family: 'Pixel';
    font-weight: normal;
    font-size: 2rem;
    text-shadow: -1px 0px 0px #ec64ec;
    transition: all 0.2s ease-in-out;
}
/*.home content > pre:hover > h2 {
    background-color: #f7b0ba;
    transition: all 0.2s ease-in-out;
}*/
.home content > pre > h2:hover {
    text-shadow: 1px 0px 0px #ec64ec;
}
.home content > pre > div {
    height: 29px;
    display: block;
    float: none;
    width: 100%;
}
.home content > pre > div > a {
    text-decoration: none;
    font-size: 1rem;
    display: block;
    height: 26px;
    float: right;
    line-height: 28px;
    padding: 0px 4px 0px 8px;
    border-bottom: 1px solid #1f1726;
}
.home content > pre > div > a:hover {
    border-bottom: 1px solid #ff0054 !important;
    box-shadow: 0px 0px 3px #f44336;
}
.home content > pre > div > a > li {
    list-style: none;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1f1726;
    z-index: 999;
    display: block;
    height: 127px;
    box-shadow: 1px 5px 12px #190c24;
}
header > pre {
    margin-bottom: 40px;
    display: block;
    position: fixed;
    top: 45px;
    left: 0;
    width: 100%;
}
header > pre > h1 {
    display: block;
    position: relative;
    font-family: BloxPixel;
    font-weight: normal;
    font-size: 5rem;
    text-align: center;
    width: auto;
    float: none;
    margin: 0 auto;
}
header > pre > h2 {
    display: block;
    float: right;
    position: relative;
    width: 148px;
    text-align: left;
    line-height: 0px;
    color: #b4e112;
    padding-top: 0;
    margin-top: 0;
    font-size: 1.1rem;
}
#header_home {
    position: fixed;
    top: 0;
    left: 0;
    width: 290px;
    margin-left: calc((100% - 290px) / 2);
    height: 127px;
    z-index: 99;
}
.to_top {
    text-align: center;
}
.to_top > a {
    width: 100%;
    height: 24px;
    float: left;
    margin-top: 24px;
}
.to_top > a > div {
    border: solid #fff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 7px;
    margin: 10px 0 0 0;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.underline-me {
    text-decoration: underline;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
    margin-bottom: 0;
}
.left {
    text-align: left;
}
content {
    display: block;
    position: relative;
    height: 100%;
    width: auto;
    max-width: 627;
    margin: 0 auto 0 auto;
    padding-top: 146px;
}
content > pre {
    display: block;
    float: left;
    width: 100%;
}
.hover-me-tender {
    margin: 0 auto;
}
.hover-me-tender > h2 {
    font-family: 'Pixel';
    font-weight: normal;
    text-align: right;
    margin-bottom: 0;
    margin-top: 0;
    color: #6c2f6c;
    text-shadow: 1px 10px 5px #6c2f6c;
    transition: 0.1s all ease-in-out;
}
.hover-me-tender > div {
    text-align: left;
    color: #787878;
    font-size: 0.8rem;
    transition: 0.1s all ease-in-out;
}
.hover-me-tender:hover > h2 {
    color: #c364ec;
    font-size: 1.4rem;
    transition: 0.2s all ease-in-out;
}
.hover-me-tender:hover > div {
    color: #c9c9c9;
    font-size: 1rem;
    transition: 0.2s all ease-in-out;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #1f1726;
    box-shadow: 1px -5px 12px #190c24;
    border-top: 1px solid #b4e112;
}
footer > div {
    max-width: 290px;
    position: relative;
    margin-left: calc((100% - 290px)/ 2);
}
footer > div > div {
    width: 33.33%;
    display: block;
    float: left;
    text-align: center;
}

@media screen and (max-width: 486px) {
    .home content > pre > h2 {
        text-align: center;
    }
}